name: Deploy to VPS

on:
  push:
    branches:
      - master

  schedule:
    # Runs every 2 months (on 1st day at 00:00)
    - cron: "0 0 1 */2 *"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root
            ./hydrospark.sh
